/*
	Game number
*/
#gamenumber {
	padding: 10px;
	border: 1px solid silver;
	float: left;
	margin-right: 1em;
	font-weight: bold;
}

#gamesuffix {
	font-size: x-small;
	vertical-align:top;
}

/*
	Game Players
*/
#gameplayers {

	margin-bottom: 1em;
}

.turnplayer {
	width: 10em;
	font-size: xx-small;
	font-weight: bold;
	border: 1px solid black;
	padding: 0 0.6em;
}

.player1 {
	color: #3b5999;
}

.player2 {
	color: #91a93b;
}

.player3 {
	color: maroon;
}

.player4 {
	color: purple;
}

div.player {
	padding: 5px;
}

/*
	Game Rounds 
*/
#gamerounds {
	border: 1px solid black;
	width: 100%;
}

td {
	text-align: center;
}

td.roundnum {
	border: 1px solid black;
	font-size: xx-large;
	width: 1em;
	background: #fdd768;
}

td.blue-before, td.red-before, td.yellow-before, td.green-before {
	border: 1px solid black;
}

td.card {
	border: 1px solid black;
	width: 3.5em;
}

td.blue-price, td.red-price, td.yellow-price, td.green-price {
	border: 1px solid black;
	color: silver;
	width: 3.5em;
}

td.changed {
	color: black;
	font-weight: bold;
}

td.blue-after, td.red-after, td.yellow-after, td.green-after {
	border: 1px solid black;
}

td.bank {
	border: 1px solid black;
	text-align: right;
}
